{% extends "2020/layout.html" %}
{% load static %}
{% block title %}MGC: Standings{% endblock %}
{% block main %}
<!-- Stats -->
<div id="content" class="grid container-fluid">
    <table id="stats" class="table table-bordered table-hover standings">
        <thead class="success">
            <tr class="stats-header">
                <td class="stat">Golfer</td>
                <td class="stat">Rounds</td>
                <td class="stat">Avg Score</td>
                <td class="stat">Avg Par</td>
                <td class="stat">Best Score</td>
                <td class="stat">Birdies Per</td>
                <td class="stat">Pars Per</td>
                <td class="stat">Bogeys Per</td>
                <td class="stat">Doubles Per</td>
                <td class="stat">Triples Per</td>
                <td class="stat">Maxes Per</td>
                <td class="stat">Par 3 Avg</td>
                <td class="stat">Par 4 Avg</td>
                <td class="stat">Par 5 Avg</td>
                <td class="stat"><img src="{% static 'golf/eagle.png' %}" alt="eagle" width=35 height=35></td>
            </tr>
        </thead>
        {% for stats in all_stats %}
        <tr class="golfer-row" onclick="window.location='/golfer/{{stats.0}}';">
            {% for stat in stats %}
            <td class="stat">{{ stat }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}