{% extends "golf/layout.html" %}
{% load static %}

{% block title %}MGC: {{ golfer }} - {{ scorecards.0.course.abbreviation }}{% endblock %}

{% block main %}
<!-- Course and Golfer Selection -->
<div id="course-selector" class="container-sm">
    <div class="grid">
        <div>
            <!-- Golfer -->
            <label for="golfer-name">Golfer: </label>
            <select name="golfer-name" id="golfer-name">
                {% for golfer in all_golfers %}
                <option value="{{ golfer }}">{{ golfer }}</option>
                {% endfor %}
            </select>
            <!-- Course -->
            <label for="course-name">Course: </label>
            <select name="course-name" id="course-name">
                {% for course in courses %}
                <option value="{{ course }}">{{ course }}</option>
                {% endfor %}
            </select>
            <!-- Tee -->
            <label for="tee-name">Tee: </label>
            <select name="tee-name" id="tee-name">
                {% for tee in tees %}
                <option value="{{ tee }}">{{ tee }}</option>
                {% endfor %}
            </select>
            <button id="submit-button" type="submit" class="btn btn-success btn-med">Submit</button>
        </div>
    </div>
</div>
<!-- Buttons to change views -->
<div class="course-buttons">
    <button class="btn btn-warning btn-med" id="statistics-button">Show Statistics</button>
    <button class="btn btn-warning btn-med" id="hole-averages-button">Show Hole Averages</button>
    <button class="btn btn-warning btn-med" id="rounds-button">Show Rounds</button>
</div>
<!-- Statistics -->
<div class="grid course-stats-div" style="display: none;">
    <table id="course-stats" class="table table-bordered standings">
        <thead class="success">
            <tr class="stats-header">
                <td class="stat">Golfer</td>
                <td class="stat">Rounds</td>
                <td class="stat">Avg Score</td>
                <td class="stat">Avg Par</td>
                <td class="stat">Best Score</td>
                <td class="stat">Birdies Per</td>
                <td class="stat">Pars Per</td>
                <td class="stat">Bogeys Per</td>
                <td class="stat">Doubles Per</td>
                <td class="stat">Triples Per</td>
                <td class="stat">Maxes Per</td>
                <td class="stat">Par 3 Avg</td>
                <td class="stat">Par 4 Avg</td>
                <td class="stat">Par 5 Avg</td>
                <td class="stat"><img src="{% static 'golf/eagle.png' %}" alt="eagle" width=35 height=35></td>
            </tr>
        </thead>
        <tr>
            {% for stat in stats %}
            <td class="stat">{{ stat }}</td>
            {% endfor %}
        </tr>
    </table>
</div>
<!-- Averages -->
<div id="averages" class="averages" style="display: none;">
    <table class="table table-sm table-bordered">
        <!-- Holes -->
        <tr class="holes-row">
            <th class="scorecard-header">Hole</th>
            {% for i in course_length %}
            <th>{{ i }}</th>
            {% endfor %}
            <th>OUT</th>
            {% for i in course_length %}
            <th>{{ i|add:"9" }}</th>
            {% endfor %}
            <th>IN</th>
            <th>TOT</th>
        </tr>
        <!-- Yardages -->
        <tr class="yardages-row">
            <td class="scorecard-header">{{ avg_scorecard.course.tees }}</td>
            {% for yard in avg_scorecard.yardages|slice:"0:9" %}
            <td>{{ yard }}</td>
            {% endfor %}
            <td>{{ avg_scorecard.course.front_yardage }}</td>
            {% for yard in avg_scorecard.yardages|slice:"9:" %}
            <td>{{ yard }}</td>
            {% endfor %}
            <td>{{ avg_scorecard.course.back_yardage }}</td>
            <td>{{ avg_scorecard.course.yardage }}</td>
        </tr>
        <!-- Handicaps -->
        <tr class="handicap-row">
            <td class="scorecard-header">Handicap</td>
            {% for handicap in avg_scorecard.handicaps|slice:":9" %}
            <td>{{ handicap }}</td>
            {% endfor %}
            <td></td>
            {% for handicap in avg_scorecard.handicaps|slice:"9:" %}
            <td>{{ handicap }}</td>
            {% endfor %}
            <td></td>
            <td></td>
        </tr>
        <!-- Strokes -->
        <tr class="handwritten-score">
            <td class="scorecard-header">{{ golfer }}</td>
            {% for stroke, score in avg_scorecard.zipped_scores %}
            {% if score >= 3 %}
            <td class="triple-bogey-or-worse">{{ stroke }}</td>
            {% elif score == 2 %}
            <td class="double-bogey">{{ stroke }}</td>
            {% elif score == 0 %}
            <td class="par">{{ stroke }}</td>
            {% elif score < 0 %} <td class="birdie-or-better">{{ stroke }}</td>
                {% else %}
                <td class="bogey">{{ stroke }}</td>
                {% endif %}
                {% endfor %}
        </tr>
        <!-- To-pars -->
        <tr>
            <td class="scorecard-header">+/-</td>
            {% for par in avg_scorecard.to_pars %}
            <td class="handwritten-score bogey">{{ par }}</td>
            {% endfor %}
        </tr>
        <!-- Pars -->
        <tr class="holes-row">
            <td class="scorecard-header">Par</td>
            {% for par in avg_scorecard.pars|slice:":9" %}
            <td>{{ par }}</td>
            {% endfor %}
            <td>{{ avg_scorecard.course.front_par }}</td>
            {% for par in avg_scorecard.pars|slice:"9:" %}
            <td>{{ par }}</td>
            {% endfor %}
            <td>{{ avg_scorecard.course.back_par }}</td>
            <td>{{ avg_scorecard.course.par }}</td>
        </tr>
    </table>
</div>
<div class="course-scorecards">
    <!-- Scorecards -->
    {% for scorecard in scorecards %}
    <div id="scorecard" class="scorecard-view">
        <p class="scorecard-course-name">{{ scorecard.round.course }}</p>
        <p class="scorecard-course-date">{{ scorecard.round.date }}</p>
        <table class="table table-sm table-bordered scorecard-table">
            <!-- Holes -->
            <tr class="holes-row">
                <th class="scorecard-header">Hole</th>
                {% for i in course_length %}
                <th>{{ i }}</th>
                {% endfor %}
                <th>OUT</th>
                {% for i in course_length %}
                <th>{{ i|add:"9" }}</th>
                {% endfor %}
                <th>IN</th>
                <th>TOT</th>
            </tr>
            <!-- Yardages -->
            <tr class="yardages-row">
                <td class="scorecard-header">{{ scorecard.course.tees }}</td>
                {% for yard in scorecard.yardages|slice:"0:9" %}
                <td>{{ yard }}</td>
                {% endfor %}
                <td>{{ scorecard.course.front_yardage }}</td>
                {% for yard in scorecard.yardages|slice:"9:" %}
                <td>{{ yard }}</td>
                {% endfor %}
                <td>{{ scorecard.course.back_yardage }}</td>
                <td>{{ scorecard.course.yardage }}</td>
            </tr>
            <!-- Handicaps -->
            <tr class="handicap-row">
                <td class="scorecard-header">Handicap</td>
                {% for handicap in scorecard.handicaps|slice:":9" %}
                <td>{{ handicap }}</td>
                {% endfor %}
                <td></td>
                {% for handicap in scorecard.handicaps|slice:"9:" %}
                <td>{{ handicap }}</td>
                {% endfor %}
                <td></td>
                <td></td>
            </tr>
            <!-- Strokes -->
            <tr class="handwritten-score">
                <td class="scorecard-header">{{ golfer }}</td>
                {% for stroke, score in scorecard.zipped_scores %}
                {% if score >= 3 %}
                <td class="triple-bogey-or-worse">{{ stroke }}</td>
                {% elif score == 2 %}
                <td class="double-bogey">{{ stroke }}</td>
                {% elif score == 0 %}
                <td class="par">{{ stroke }}</td>
                {% elif score < 0 %} <td class="birdie-or-better">{{ stroke }}</td>
                    {% else %}
                    <td class="bogey">{{ stroke }}</td>
                    {% endif %}
                    {% endfor %}
            </tr>
            <!-- To-pars -->
            <tr>
                <td class="scorecard-header">+/-</td>
                {% for par in scorecard.to_pars %}
                <td class="handwritten-score bogey">{{ par }}</td>
                {% endfor %}
            </tr>
            <!-- Pars -->
            <tr class="holes-row">
                <td class="scorecard-header">Par</td>
                {% for par in scorecard.pars|slice:":9" %}
                <td>{{ par }}</td>
                {% endfor %}
                <td>{{ scorecard.course.front_par }}</td>
                {% for par in scorecard.pars|slice:"9:" %}
                <td>{{ par }}</td>
                {% endfor %}
                <td>{{ scorecard.course.back_par }}</td>
                <td>{{ scorecard.course.par }}</td>
            </tr>
        </table>
        <form action="{% url 'edit' scorecard.round.match %}">
            <button class="btn btn-danger btn-sm" type="submit" id="edit-round" value="Edit Round">Edit Round</button>
        </form>
        <div class="score-key">
            <!-- Birdie or better -->
            <div class="birdie-key">
                <div class="birdie-box"></div>
                <span class="score-label">Birdie or Better</span>
            </div>
            <!-- Par -->
            <div class="par-key">
                <div class="par-box"></div>
                <span class="score-label">Par</span>
            </div>
            <!-- Double Bogey -->
            <div class="double-bogey-key">
                <div class="double-bogey-box"></div>
                <span class="score-label">Double Bogey</span>
            </div>
            <!-- Triple or worse s-->
            <div class="triple-or-worse-key">
                <div class="triple-or-worse-box"></div>
                <span class="score-label">Triple Bogey or Worse</span>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Pagination -->
    <div class="grid">
        <nav aria-label="scorecard-pages" class="rounds-paginator">
            <ul class="pagination">
                <!-- Previous button -->
                {% if scorecards.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ scorecards.previous_page_number }}">Previous</a>
                </li>
                {% endif %}
                <!-- Two pages previous -->
                {% if scorecards.number == scorecards.paginator.num_pages %}
                {% if scorecards.number != 2 and scorecards.number != 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ scorecards.previous_page_number|add:'-1' }}">
                        {{scorecards.previous_page_number|add:'-1' }}
                    </a>
                </li>
                {% endif %}
                {% endif %}
                <!-- Previous page -->
                {% if scorecards.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ scorecards.previous_page_number }}">
                        {{scorecards.previous_page_number }}
                    </a>
                </li>
                {% endif %}
                <!-- Current page -->
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ scorecards.number }}">
                        {{ scorecards.number }}</a>
                </li>
                <!-- Next page -->
                {% if scorecards.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ scorecards.next_page_number }}">
                        {{scorecards.next_page_number }}
                    </a>
                </li>
                {% endif %}
                <!-- Two pages next -->
                {% if scorecards.number == 1 and scorecards.paginator.num_pages > 2 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ scorecards.next_page_number|add:'1' }}">
                        {{scorecards.next_page_number|add:"1" }}
                    </a>
                </li>
                {% endif %}
                <!-- Next button -->
                {% if scorecards.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ scorecards.next_page_number }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'golf/course.js' %}"></script>
{% endblock %}