{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">

    <link rel="shortcut icon" href="{% static 'golf/favicon.ico' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'golf/styles.css' %}" rel="stylesheet">

    <title>{% block title %}MGC{% endblock %}</title>
    {% block script %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Manchester Golf Club</a>
            <div>
                <ul class="navbar-nav me-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="{% url 'golfer' 'Jack' %}">Golfers </a></li>
                    <li class="nav-item"><a class="nav-link"
                            href="{% url 'course' 'Manchester Country Club' 'White' 'Jack' %}">Courses </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'vs' 'Jack' 'Nick' %}">Vs </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'post' %}">Post a Match </a></li>
                    {% if not user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log In </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register </a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out </a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="grid">
        {% block main %}{% endblock %}
    </main>
</body>
</html>