{% extends "golf/layout.html" %}
{% load static %}

{% block title %}MGC: New Course{% endblock %}

{% block main %}
<!-- Provide option for a new course or just new tees -->
<div class="grid course-or-tees">
    <label for="new-course-or-tees">Please select if you are adding an entirely new course or just new tees:</label>
    <div id="buttons">
        <button class="btn btn-warning btn-med" id="new-course-or-tees-course" value="Entire New Course">New
            Course</button>
        <button class="btn btn-warning btn-med" id="new-course-or-tees-tees" value="Just New Tees">Just New
            Tees</button>
    </div>
</div>
<!-- Form for all course information -->
<form class="grid" action="{% url 'new' %}" method="post" id="scorecard" onsubmit="return validateMyForm();">
    {% csrf_token %}
    <!-- Track what the user has selected (new course or just new tees)-->
    <input type="hidden" id="course-or-tees" name="course-or-tees" value="null"> 
    <!-- New tee option -->
    <div id="already-course" class="grid" style="display: none;">
        <!-- Select course -->
        <label for="course-exists">Please select the course and tees from the drop-down menus:</label>
        <select name="course-exists" id="course-exists">
            <option disabled selected>Course</option>
            {% for course_name in course_names %}
            <option value="{{ course_name }}">{{ course_name }}</option>
            {% endfor %}
        </select>
        <!-- Select tees -->
        <select name="tees-course-exists" id="tees" class="tees" required>
            <option disabled selected>Tees</option>
            <option>White</option>
            <option>Blue</option>
            <option>Black</option>
            <option>Red</option>
        </select>
    </div>
    <!-- New tee option -->
    <div id="new-course" style="display: none;">
        <!-- New course name -->
        <input type="text" name="new-course-name" id="new-course-name" placeholder="Course Name">
        <!-- Tee option -->
        <select name="new-tees" id="new-tees" class="tees" required>
            <option disabled selected value="Tees">Tees</option>
            <option value="White">White</option>
            <option value="Blue">Blue</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
        </select>
    </div>
    <!-- Slope and rating information -->
    <div id="course-information" class="course-information">
        <input type="text" name="slope" id="slope" placeholder="Slope">
        <input type="text" name="rating" id="rating" placeholder="Course Rating (i.e. 69.6)">
    </div>
    <table class="scorecard">
        <!-- Holes -->
        <tr class="holes-row">
            <th class="scorecard-header"><strong>Hole</strong></th>
            {% for i in course_length %}
            <td>{{ i }}</td>
            {% endfor %}
            <td>OUT</td>
            {% for i in course_length %}
            <td>{{ i|add:"9" }}</td>
            {% endfor %}
            <td>IN</td>
            <td>TOT</td>
        </tr>
        <!-- Yardages -->
        <tr class="yardages-row" id="yardages">
            <th class="scorecard-header">Yardage</th>
            {% for i in course_length %}
            <td><input class="new-yardages" name="yardages-{{ i }}" type='number' min='50' max='999' required></td>
            {% endfor %}
            <td><input class="new-yardages-long" name="yardages-front" type='number' min='1000' max='5000' required>
            </td>
            {% for i in course_length %}
            <td><input class="new-yardages" name="yardages-{{ i|add:'9' }}" type='number' min='50' max='999' required>
            </td>
            {% endfor %}
            <td><input class="new-yardages-long" name="yardages-back" type='number' min='1000' max='5000' required></td>
            <td><input class="new-yardages-long" name="yardages-total" type='number' min='1000' max='9999' required>
            </td>
        </tr>
        <!-- Handicaps -->
        <tr class="handicap-row">
            <th class="scorecard-header">Handicap</th>
            {% for i in course_length %}
            <td><input name="handicap-{{ i }}" type='number' min='1' max='18' required></td>
            {% endfor %}
            <td></td>
            {% for i in course_length %}
            <td><input name="handicap-{{ i|add:'9' }}" type='number' min='1' max='18' required></td>
            {% endfor %}
            <td></td>
            <td></td>
        </tr>
        <!-- Pars -->
        <tr class="pars-row">
            <th class="scorecard-header">Par</th>
            {% for i in course_length %}
            <td><input name="par-{{ i }}" type='number' min='3' max='5' required></td>
            {% endfor %}
            <td><input name="par-front" type='number' min='30' max='80' required></td>
            {% for i in course_length %}
            <td><input name="par-{{ i|add:'9' }}" type='number' min='3' max='5' required></td>
            {% endfor %}
            <td><input name="par-back" type='number' min='30' max='80' required></td>
            <td><input name="par-total" type='number' min='60' max='99' required></td>
        </tr>
    </table>
    <input class="btn btn-success btn-med" id="new-course-button" type="submit" value="Add Course">
</form>
{% endblock %}

{% block script %}
<script src="{% static 'golf/new.js' %}"></script>
{% endblock %}