{% extends "golf/layout.html" %}
{% load static %}

{% block title %}MGC: New Course{% endblock %}

{% block main %}
<div class="grid">
    <label for="new-course-or-tees">Please select if you are adding an entirely new course or just new tees:</label>
    <div id="buttons">
        <button class="btn btn-warning btn-med" id="new-course-or-tees-course" value="Entire New Course">New
            Course</button>
        <button class="btn btn-warning btn-med" id="new-course-or-tees-tees" value="Just New Tees">Just New
            Tees</button>
    </div>
</div>
<form class="grid" action="{% url 'new' %}" method="post" id="scorecard" onsubmit="return validateMyForm();">
    {% csrf_token %}
    <input type="hidden" id="course-or-tees" name="course-or-tees" value="null">
    <div id="already_course" class="grid" style="display: none;">
        <label for="course_exists">Please select the course and tees from the drop-down menus:</label>
        <select name="course_exists" id="course_exists">
            <option disabled selected>Course</option>
            {% for course_name in course_names %}
            <option value="{{ course_name }}">{{ course_name }}</option>
            {% endfor %}
        </select>
        <select name="tees_course_exists" id="tees" class="tees" required>
            <option disabled selected>Tees</option>
            <option>White</option>
            <option>Blue</option>
            <option>Black</option>
            <option>Red</option>
        </select>
    </div>
    <div id="new_course" style="display: none;">
        <input type="text" name="new_course_name" id="new_course_name" placeholder="Course Name">
        <select name="new_tees" id="new_tees" class="tees" required>
            <option disabled selected value="Tees">Tees</option>
            <option value="White">White</option>
            <option value="Blue">Blue</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
        </select>
    </div>
    <table class="scorecard">
        <!-- Holes -->
        <tr class="holes-row">
            <th class="scorecard-header"><strong>Hole</strong></th>
            {% for i in course_length %}
            <td>{{ i }}</td>
            {% endfor %}
            <td>OUT</td>
            {% for i in course_length %}
            <td>{{ i|add:"9" }}</td>
            {% endfor %}
            <td>IN</td>
            <td>TOT</td>
        </tr>
        <!-- Yardages -->
        <tr class="yardages-row" id="yardages">
            <th class="scorecard-header">Yardage</th>
            {% for i in course_length %}
            <td><input class="new-yardages" name="yardages_{{ i }}" type='number' min='50' max='999' required></td>
            {% endfor %}
            <td><input class="new-yardages-long" name="yardages_front" type='number' min='1000' max='5000' required>
            </td>
            {% for i in course_length %}
            <td><input class="new-yardages" name="yardages_{{ i|add:'9' }}" type='number' min='50' max='999' required>
            </td>
            {% endfor %}
            <td><input class="new-yardages-long" name="yardages_back" type='number' min='1000' max='5000' required></td>
            <td><input class="new-yardages-long" name="yardages_total" type='number' min='1000' max='9999' required>
            </td>
        </tr>
        <!-- Handicaps -->
        <tr class="handicap-row">
            <th class="scorecard-header">Handicap</th>
            {% for i in course_length %}
            <td><input name="handicap_{{ i }}" type='number' min='1' max='18' required></td>
            {% endfor %}
            <td></td>
            {% for i in course_length %}
            <td><input name="handicap_{{ i|add:'9' }}" type='number' min='1' max='18' required></td>
            {% endfor %}
            <td></td>
            <td></td>
        </tr>
        <!-- Pars -->
        <tr class="pars-row">
            <th class="scorecard-header">Par</th>
            {% for i in course_length %}
            <td><input name="par_{{ i }}" type='number' min='3' max='5' required></td>
            {% endfor %}
            <td><input name="par_front" type='number' min='30' max='80' required></td>
            {% for i in course_length %}
            <td><input name="par_{{ i|add:'9' }}" type='number' min='3' max='5' required></td>
            {% endfor %}
            <td><input name="par_back" type='number' min='30' max='80' required></td>
            <td><input name="par_total" type='number' min='60' max='99' required></td>
        </tr>
    </table>
    <input class="btn btn-success btn-med" id="new-course" type="submit" value="Add Course">
</form>


{% endblock %}

{% block script %}
<script src="{% static 'golf/new.js' %}"></script>
{% endblock %}