{% extends "golf/layout.html" %}
{% load static %}

{% block main %}
    <form action="{% url 'post_route' 'Manchester Country Club' %}" method="post">
        <!-- Select a course -->
        <select name="course" id="course">
            {% for course_name in course_names %}
                <option value="{{ course }}">{{ course_name }}</option>
            {% endfor %}
        </select>
    </form>
    <table>
        <!-- Holes -->
        <tr>
            <th>HOLE</th>
            {% for i in course_length %}
                <td>{{ i }}</td>
            {% endfor %}
            <td>OUT</td>
            {% for i in course_length %}
                <td>{{ i|add:"9" }}</td>
            {% endfor %}
            <td>IN</td>
            <td>TOT</td>
        </tr>
        <!-- Yardages -->
        <tr>
            <th>
                <select name="tees" id="tees">
                    {% for available_tee in available_tees %}
                    <option value="{{ available_tee }}">{{ available_tee }}</option>
                    {% endfor %}
                </select>
            </th>
            {% for yardage in yardages|slice:":9" %}
            <td>{{ yardage }}</td>
            {% endfor %}
            <td>OUT</td>
            {% for yardage in yardages|slice:"9:" %}
            <td>{{ yardage }}</td>
            {% endfor %}
            <td>IN</td>
            <td>TOT</td>
        </tr>
        <!-- Handicaps -->
        <tr>
            <th i>Handicap</th>
            {% for handicap in handicaps|slice:":9" %}
            <td>{{ handicap }}</td>
            {% endfor %}
            <td>OUT</td>
            {% for handicap in handicaps|slice:"9:" %}
            <td>{{ handicap }}</td>
            {% endfor %}
            <td>IN</td>
            <td>TOT</td>
        </tr>
        <!-- Scores -->
        <tr>
            <th>
                <select name="golfer" id="golfer">
                    {% for golfer in golfers %}
                    <option value="{{ golfer }}">{{ golfer }}</option>
                    {% endfor %}
                </select>
            </th>
            {% for i in course_length %}
            <td><input type='number' min='1' max='9'></td>
            {% endfor %}
            <td><input type='number' min='9' max='100'></td>
            {% for i in course_length %}
            <td><td><input type='number' min='1' max='9'></td></td>
            {% endfor %}
            <td><input type='number' min='9' max='100'></td>
            <td><input type='number' min='18' max='150'></td>
        </tr>
        <!-- Yardages -->
        <tr>
            <th>Par</th>
            {% for par in pars|slice:":9" %}
            <td>{{ par }}</td>
            {% endfor %}
            <td>OUT</td>
            {% for par in pars|slice:"9:" %}
            <td>{{ par }}</td>
            {% endfor %}
            <td>IN</td>
            <td>TOT</td>
        </tr>
    </table>
{% endblock %}

{% block script %}
    <script src="{% static 'golf/post.js' %}"></script>
{% endblock %}