{% extends "golf/layout.html" %}
{% load static %}

{% block title %}MGC: Post{% endblock %}

{% block main %}
<form class="grid" action="{% url 'post' %}" method="post" id="scorecard" onsubmit="return validate();">
    {% csrf_token %}
    <!-- Select a course and date -->
    <div id="general-info">
        <!-- Course -->
        <select name="course" id="course">
            {% for course_name in course_names %}
            <option value="{{ course_name }}">{{ course_name }}</option>
            {% endfor %}
        </select>
        <!-- Date-->
        <input id="date" type="date" name="round-date" value="{{ date }}" required>
    </div>
    <!-- Number of golfers -->
    <input type="hidden" name="number-of-golfers" id="number-of-golfers">
    <table class="scorecard">
        <!-- Holes -->
        <tr class="holes-row">
            <th class="scorecard-header"><strong>Hole</strong></th>
            {% for i in course_length %}
            <td>{{ i }}</td>
            {% endfor %}
            <td>OUT</td>
            {% for i in course_length %}
            <td>{{ i|add:"9" }}</td>
            {% endfor %}
            <td>IN</td>
            <td>TOT</td>
        </tr>
        <!-- Yardages -->
        <tr class="yardages-row">
            <th class="scorecard-header">
                <select name="tees" id="tees">
                    {% for available_tee in available_tees %}
                    <option value="{{ available_tee }}">{{ available_tee }}</option>
                    {% endfor %}
                </select>
            </th>
            {% for yardage in yardages|slice:":9" %}
            <td>{{ yardage }}</td>
            {% endfor %}
            <td>{{ default_course.front_yardage }}</td>
            {% for yardage in yardages|slice:"9:" %}
            <td>{{ yardage }}</td>
            {% endfor %}
            <td>{{ default_course.back_yardage }}</td>
            <td>{{ default_course.yardage }}</td>
        </tr>
        <!-- Handicaps -->
        <tr class="handicap-row">
            <th class="scorecard-header">Handicap</th>
            {% for handicap in handicaps|slice:":9" %}
            <td>{{ handicap }}</td>
            {% endfor %}
            <td></td>
            {% for handicap in handicaps|slice:"9:" %}
            <td>{{ handicap }}</td>
            {% endfor %}
            <td></td>
            <td></td>
        </tr>
        <!-- Scores -->
        <tr class="scores-row" id="strokes">
            <th class="scorecard-header">
                <select id="golfer" class="golfer" required>
                    <option disabled selected>Golfer</option>
                    {% for golfer in golfers %}
                    <option value="{{ golfer }}">{{ golfer }}</option>
                    {% endfor %}
                </select>
            </th>
            {% for i in course_length %}
            <td><input type='number' min='1' max='9' required></td>
            {% endfor %}
            <td><input type='number' min='9' max='100' required></td>
            {% for i in course_length %}
            <td><input type='number' min='1' max='9' required></td>
            {% endfor %}
            <td><input type='number' min='9' max='100' required></td>
            <td><input type='number' min='18' max='150' required></td>
        </tr>
        <!-- Pars -->
        <tr class="pars-row">
            <th class="scorecard-header">Par</th>
            {% for par in pars|slice:":9" %}
            <td>{{ par }}</td>
            {% endfor %}
            <td>{{ default_course.front_par }}</td>
            {% for par in pars|slice:"9:" %}
            <td>{{ par }}</td>
            {% endfor %}
            <td>{{ default_course.back_par }}</td>
            <td>{{ default_course.par }}</td>
        </tr>
    </table>
    <!-- Buttons to add golfer, course, or tee -->
    <div id="buttons">
        <button class="btn btn-warning btn-med" id="add-golfer" type="button">Add Golfer</button>
        <a href="{% url 'new' %}"><button class="btn btn-warning btn-med" id="add-course" type="button">Add a New Course
                or Tee</button></a>
    </div>
    <input class="btn btn-success btn-med" id="post-match" type="submit" value="Post Match">
</form>

{% endblock %}

{% block script %}
<script src="{% static 'golf/post.js' %}"></script>
{% endblock %}