{% extends "golf/layout.html" %}
{% load static %}

{% block main %}
    <!-- Register Form -->
    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="first-name" placeholder="Display Name (i.e. 'Potts')">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <div class="grid">
        <input class="btn btn-primary" id="register-button" type="submit" value="Register">
        </div>
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In</a>

{% endblock %}